body {
    padding: 0;
    margin: 0;
    background: black;
}

#map {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url("space.png");
}

.leaflet-control-layers-scrollbar {
    overflow-y: hidden;
    overflow-x: hidden;
}
